Flask
psycopg2-binary
SQLAlchemy
Flask_SQLAlchemy
pytest
Flask-Script


django>=5.1,<5.2
gunicorn>=23,<24
dj-database-url>=2,<3
whitenoise[brotli]>=6,<7

psycopg[c]; sys_platform == "linux"
psycopg[binary]; sys_platform != "linux"